#meta {
    font-size: 50px;
    line-height: 50px; /* Ajustar el espaciado entre líneas para centrar verticalmente */
    background-color: rgb(245, 190, 11);
    text-align: center; /* Centrar el texto horizontalmente */
    padding: 10px; /* Añadir espacio alrededor del texto */
}
#animal {
    font-size: 100px;
    font-weight: bolder;
    padding: 20px;
    background-color: rgb(211, 226, 5);
    text-align: center; /* Centrar el texto horizontalmente */
}
#logo {
    width: 70px;
    height: auto; /* Esto mantendrá la proporción de la imagen */
}
#intro {
    background-color: #e0e0e0;
    padding: 50px;
  }
#acerca-de {
    background-color: #e0e0e0;
    padding: 50px;
  }
#contacto {
    background-color: #d0d0d0;
    padding: 50px;
  }
#carouselExample {
    margin-top: 50px; /* Ajustar el margen superior */
    text-align: center; /* Centrar el carrusel horizontalmente */
}
.carousel-img {
    width: 100%; /* Hace que las imágenes ocupen todo el ancho del carrusel */
    height: auto; /* La altura se ajustará automáticamente para mantener la proporción */
    object-fit: cover; /* Ajustar el tamaño de la imagen sin deformarla */
}
.carousel-caption h5,
.carousel-caption p {
    color: #fdfdfd; /* Color rojo para los títulos y descripciones */
    text-align: left; /* Alinear el texto a la izquierda dentro de la descripción */
}
.navbar {
    background-color: #ff7b00; /* Cambiar el color de fondo del navbar */
}

.footer {
    background-color: #ff7b00; /* Cambiar el color de fondo del footer */
    color: white; /* Cambiar el color del texto del footer a blanco */
}
