#meta {
    font-size: 50px;
    line-height: 50px; /* ajusto el espacio entre líneas para centrar verticalmente */
    background-color: rgb(245, 190, 11);
    text-align: center;/* centro el texto */
    padding: 10px; /* pongo espacio alrededor del texto */
}
#animal {
    font-size: 100px;
    font-weight: bolder;
    padding: 20px;
    background-color: rgb(211, 226, 5);
    text-align: center; /* centro el texto horizontalmente */
}
#logo {
    width: 70px;
    height: auto; /* mantiene la proporción de la imagen */
}
#intro {
    background-color: #e0e0e0;
    padding: 50px;
  }
#acerca-de {
    background-color: #e0e0e0;
    padding: 50px;
  }
#contacto {
    background-color: #d0d0d0;
    padding: 50px;
  }
.carousel-control-prev-icon {
    background-image: url('IMG/logo.webp'); /* pongo logo en control del carousel */
    background-size: cover;
 }
.carousel-control-next-icon {
    background-image: url('IMG/logo.webp'); /* pongo logo en control del carousel */
    background-size: cover;
  }
.carousel-item {
    color: black;
}
#carouselExample {
    margin-top: 50px; /* aqui puedo ajustar el margen superior */
    text-align: center; /* centro el carrusel horizontalmente */
}
.carousel-img {
    width: 100%; /* hago que las imagenes ocupen todo el ancho del carrusel */
    height: auto; /* ajusto la altura automáticamente para mantener la proporción */
    object-fit: cover; /* ajusto el tamaño de la imagen sin deformarla */
}
.carousel-caption h5,
.carousel-caption p {
    color: #fdfdfd; /* cambio color para los títulos y descripciones */
    text-align: left; 
}
.navbar {
    background-color: #ff7b00;
}

.footer {
    background-color: #ff7b00; /* cambio color para los títulos y descripciones */
    color: white;
    font-size: 20px;
    text-align: center; 
    padding: 20px;
    width: 100%;
}
