#meta {
    font-size: 50px;
    line-height: 50px; /* ajusto el espacio entre líneas para centrar verticalmente */
    background-color: rgb(250, 234, 6);
    text-align: center;/* centro el texto */
    padding: 10px; /* pongo espacio alrededor del texto */
}
body {
    background-color: rgb(177, 126, 78);
  }
  
#animal {
    font-size: 100px;
    font-weight: bolder;
    padding: 20px;
    background-color: rgb(211, 226, 5);
    text-align: center; /* centro el texto horizontalmente */
}
#logo {
    width: 70px;
    height: auto; /* mantiene la proporción de la imagen */
}
#intro {
    background-color: #e0e0e0;
    padding: 50px;
  }
#acerca-de {
    background-color: #e0e0e0;
    padding: 50px;
  }
#contacto {
    background-color: #d0d0d0;
    padding: 50px;
  }
.carousel-control-prev-icon {
    background-image: url('IMG/logo.webp'); /* pongo logo en control del carousel */
    background-size: cover;
 }
.carousel-control-next-icon {
    background-image: url('IMG/logo.webp'); /* pongo logo en control del carousel */
    background-size: cover;
  }
.carousel-item {
    color: black;
    background-color: rgb(177, 126, 78); /* Cambia el color de fondo a negro */
}
#carouselExample {
    margin-top: 50px; /* aqui puedo ajustar el margen superior */
    text-align: center; /* centro el carrusel horizontalmente */
}
.carousel-img {
    width: 100%; /* hago que las imagenes ocupen todo el ancho del carrusel */
    height: auto; /* ajusto la altura automáticamente para mantener la proporción */
    object-fit: cover; /* ajusto el tamaño de la imagen sin deformarla */
}
.carousel-caption h5,
.carousel-caption p {
    color: #000000; /* cambio color para los títulos y descripciones */
    text-align: left; 
}
.carousel-control-prev,
.carousel-control-next {
  opacity: 0;
}
.carousel:hover .carousel-control-prev,
.carousel:hover .carousel-control-next {
  opacity: 1;
}
.carousel-indicators {
  display: none;
}
.navbar {
    background-color: #fce308;
}
.imagen-personalizada {
    max-width: 100%;
    height: auto; 
  }

.footer {
    font-size: 20px;
    text-align: center; 
    padding: 20px;
    width: 100%;
}
